__pycache__/
.vscode/
run.log
data/prepared_data.txt
data/w2v_vocabulary.txt
data/w2v_neighborhood.txt
data/net_model.txt
data/old горе от ума.txt
data/old скотный двор.txt
data/*.pkl
data/*.npz
data/*.bin
data/*.h5
data/*.png